default:
  interruptible: true

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $UPSTREAM_GHC_FLAVOUR != null

variables:
  DOCKER_REV: a97d5c67d803c6b3811c6cccdf33dc8e9d7eafe3
  GIT_DEPTH: 0
  GIT_STRATEGY: clone

x86_64-linux-chimera-9.14:
  tags:
    - x86_64-linux
  image: chimeralinux/chimera
  rules:
    - if: $UPSTREAM_GHC_FLAVOUR == null
  before_script:
    - |
      apk upgrade --no-interactive
      apk add --no-interactive \
        curl \
        chromium \
        firefox \
        gmake \
        jq \
        libarchive-progs
      cd /usr/bin
      ln -s bsdunzip unzip
      cd $OLDPWD
  script:
    - |
      PREFIX=/tmp/.ghc-wasm ./setup.sh
      sed -i "" "s/\$ncpus/$CPUS/" /tmp/.ghc-wasm/.cabal/config
      . /tmp/.ghc-wasm/env
    - ./tests/ghci.sh
